body{
	min-width: 300px;
}

#contentLeft{
  width: 250px;
  float: left;
}
#contentRight{
  float: right;
  width: 890px;
}


.appContent {
	border: 1px solid #ddd;
	min-height: 600px;
	padding: 20px 0px;
}
.no-left{
	border-left: none;
}
.no-right{
	border-right: none;
}
#contentCenter {
	margin: 0 auto !important;
	width: 200px;
	margin-top: 10% !important;
	text-align: center;
}
#fbLogin {
	cursor: pointer;
}



.ngNonPadd{
	margin-bottom: 0px;
}
.pad-top-10{
	padding-top: 10px;
}
.pad-top-15{
	padding-top: 15px;
}
.pad-top-20{
	padding-top: 20px;
}

.mg-top-20{
	margin-top: 20px;
}
.mg-top-25{
	margin-top: 25px;
}

